//CSS File

html {
  background-color: white;
}

body {
  background-color: white;
  width: 600px;
  border: 2px solid black;
  padding: 0px 20px 20px 20px;
  
}

.header img {
  float: left;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

.header h2 {
  position: relative;
  top: 18px;
  left: 10px;
}

.button {
  color: white;
  background-color: black;

.signature {
  text-align: left;
  color: blue;
  font-style: italic;
}
