//CSS File

html {
  background-color: white;
}

body {
  background-color: white;
  width: 600px;
  border: 2px solid black;
  padding: 0px 20px 20px 20px;
  
}

.header img {
  float: left;
}

.header h1 {
  position: relative;
  color: rgb(255, 140, 0);
  padding-left:100px;
}

.header h2 {
  position: relative;
  padding-left:100px;
}

.question {
  border: black;

.block {
  display: block;
  background-color: black;
  color: white;
}

#signature {
  text-align: left;
  color: rgb(255, 140, 0);
  font-style: italic;
}
