//CSS File

html {
  background-color: white;
}

body {
  background-color: white;
  width: 600px;
  border: 2px solid black;
  padding: 0px 20px 20px 20px;
  
}

.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

.header h2 {
  position: relative;
  top: 18px;
  left: 10px;
}
